<div class="container mt-0"> 
  <h1 class="h1" id="tableLabel">Price Details</h1>
  <p>Fetching data from the server.</p>
  <button class="btn btn-success" (click)="openAddEditcoinForm()">Add Price </button>

  <table class="table table-striped" aria-labelledby="tableLabel" *ngIf="prices">
    <thead  class="bg-primary text-white  ">
      <tr>
        <th>ID</th>
        <th>Coin Id</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let price of prices">
        <td>{{ price.id }}</td>
        <td>{{ price.coinId }}</td>
        <td>{{ price.value }}</td>
        <td>
          <button class="btn btn-warning" (click)="openEditCoinForm(price)">Edit Price</button>
        <button class="btn btn-danger" (click)="deleteCoin(price.id)">Delete Price</button>
        </td>
       
      </tr>
    </tbody>
  </table>
</div>

